.carditem{
    height: 400px;
    justify-items: center;
    background-color: black;
    border-radius: 15px;
    color: white;
    column-gap: 20px;
    animation: luz 3s infinite;
}
.card-imagen{
    border-radius: 17px;
    padding: 10px;
    width: 100%;
}
.row {
    display: flex;
    flex-wrap: wrap;
}

.col-md-4 {
    flex: 1 1 33.333%;
    box-sizing: border-box;
    padding: 10px;
}

@keyframes luz {
    0%   { box-shadow: 0 0 10px #ff0000; }
    25%  { box-shadow: 0 0 10px #00ff00; }
    50%  { box-shadow: 0 0 10px #0000ff; }
    75%  { box-shadow: 0 0 10px #ff00ff; }
    100% { box-shadow: 0 0 10px #ff0000; }
}

/*
#1e90ff azul
#39ff14 verde
*/