
/*BARRA DE ARRRIBA*/
.Barra-Arriba{
    background-color: black;
    padding: 10px;
    display: flex;
    justify-content: left;
    gap: 15px;
    animation: luz 3s infinite;
    
}

.marco{
    color: white;
    border-radius:30px;
    border: 2px solid white;
    padding: 10px ;
    
}

.marco:hover{
    background-color: blue;
    color: #000;
}

@keyframes luz {
    0%   { box-shadow: 0 0 10px #ff0000; }
    25%  { box-shadow: 0 0 10px #00ff00; }
    50%  { box-shadow: 0 0 10px #0000ff; }
    75%  { box-shadow: 0 0 10px #ff00ff; }
    100% { box-shadow: 0 0 10px #ff0000; }
}