/* From Uiverse.io by andrew-demchenk0 */ 
.card {
  background-color: darkblue  ;
  position: relative;
  width: 300px;
  height: 444px;
  display: flex;
  right: -444px;
  top: 132px;
  animation:  luz 3s infinite;
  align-items: center;
  border-radius: 20px;
  
}

.card__img {
  height: 149px;

  border-radius: 20px 20px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__img img   {
  height: 100%;
  border-radius: 20px 20px 0 0;
}

.card__avatar {
  background-color: white;
  width: 114px;
  height: 114px;
  overflow: hidden;  
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: calc(50% - 57px);
}

.card__avatar img {
  width: 100px;
  height: 100px;
  z-index: 1;
  fill: black;
}

.card__title {
  margin-top: 60px;
  font-weight: 500;
  font-size: 18px;
  color: var(--main-color);
}

.card__subtitle {
  margin-top: 10px;
  font-weight: 400;
  font-size: 15px;
  color: var(--submain-color);
}

@keyframes luz {
    0%   { box-shadow: 0 0 10px #ff0000; }
    25%  { box-shadow: 0 0 10px #00ff00; }
    50%  { box-shadow: 0 0 10px #0000ff; }
    75%  { box-shadow: 0 0 10px #ff00ff; }
    100% { box-shadow: 0 0 10px #ff0000; }
}

