
.Menub {
  display: block;
  margin-bottom: 10px;
  position: relative; 
  top: auto;    
  color: white;
  text-decoration: none;
  padding: 20px 40px;
  border-radius: 6px;
  
}



.Menu{  
  right: 270px;
  top: 200px;
  width: 800px;
  background: black;
  animation: luz 3s infinite;
  border-radius: 6px;
  position: absolute;

}

@keyframes luz {
    0%   { box-shadow: 0 0 10px #ff0000; }
    25%  { box-shadow: 0 0 10px #00ff00; }
    50%  { box-shadow: 0 0 10px #0000ff; }
    75%  { box-shadow: 0 0 10px #ff00ff; }
    100% { box-shadow: 0 0 10px #ff0000; }
}
